asgiref==3.8.1
distlib==0.3.9
dj-database-url==3.0.0
Django==5.1.6
django-crispy-forms
django-cors-headers==4.7.0
djangorestframework==3.15.2
filelock==3.17.0
pillow==11.1.0
platformdirs==4.3.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-decouple==3.8
python-dotenv==1.0.1
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.1
virtualenv==20.29.1
whitenoise==6.9.0
