<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="login-container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div>
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
            </div>
            <input type="submit" value="Login">

            <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
        </form>
    </div>
</body>
</html>
